@use '../../App.scss' as *;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  .logo {
    width: 150px;
    height: 80px;
  }
  .function {
    color: $color-text;
    display: flex;
    gap: 50px;
    a {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: $color-main;
      }
      &.active::after,
      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .header-container {
    .logo {
      display: none;
    }
  }
}
